.hudWrapper {
    position: absolute;
    height: 40%;
    width: 30%;
    right: 0;
    bottom: 0;

    .hud {
        background-color: #eae2e24d;
        border-radius: 5px;
        padding: 5%;
        height: 100%;
    }
}

@media screen and (max-width: 576px) {
    .hudWrapper {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 1rem;

        .hud {
            padding: 2%;
        }
    }
}