:global {
    .ant-layout-header {
        box-shadow: 0 4px 5px #4354d0ba;
        padding-left: 0px;
    }

    .ml-auto {
        margin-left: auto !important;
    }

    .boxHidden {
        visibility: hidden;
    }

    #root {
        height: 100%;

        & {
            section {
                height: 100%;
                background: none;
            }

        }
    }

    .ant-layout-content {
        min-height: auto;
    }

    .controlLabel {
        &>strong {
            line-height: 32px;
        }
    }

    .dg.ac {
        top: 64px !important;
    }
}