.hudWrapper {
    position: absolute;
    height: 40%;
    width: 30%;

    .hud {
        margin-top: 5%;
        margin-left: 10%;
        background-color: #eae2e24d;
        border-radius: 5px;
        padding: 2%;
        padding-bottom: 5%;

        div {
            padding: 4px;
        }
    }
}

@media screen and (max-width: 576px) {
    .hudWrapper {
        position: relative;
        width: 100%;
        height: auto;

        .hud {
            margin: 0px;
        }
    }
}